.home-box {
    /* border: 2px solid red; */
    color: cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
}

.home-box img {
    width: 100px;
}

.home-box h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    text-shadow: 5px 15px 5px black;
}

.home-box h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 5px 15px 5px black;
}

.home-box h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 5px 15px 5px black;
}

.btn-box {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
}

.btn {
    margin-top: 20px;
    width: 200px;
    padding: 5px;
    background: transparent;
    font-weight: bolder;
    border: 2px solid cyan;
}

.btn:focus {
    background-color: cyan;
}


@media (max-width:970px) {
    .home-box h1 {
        font-size: 48px;
    }

    .home-box h3 {
        font-size: 25px;
    }

    .home-box h5 {
        font-size: 20px;
    }

}

@media(max-width:670px) {
    .home-box h1 {
        font-size: 38px;
    }

    .home-box h3 {
        font-size: 20px;
    }

    .home-box h5 {
        font-size: 15px;
    }

    .btn {
        margin-top: 17px;
        width: 150px;
        padding: 3px;
    }

    .home-box img {
        width: 100px;
    }

}

@media(max-width:500px) {
    .home-box h1 {
        font-size: 30px;
    }

    .home-box h3 {
        font-size: 15px;
    }

    .home-box h5 {
        font-size: 10px;
    }

    .btn {
        margin-top: 17px;
        width: 100px;
        padding: 2px;
        font-size: 12px;
    }

    .home-box img {
        width: 100px;
    }

    .btn-box {
        width: 600px;
    }

}

@media(max-width:380px) {
    .home-box h1 {
        font-size: 25px;
    }

    .home-box h3 {
        font-size: 10px;
    }

    .home-box h5 {
        font-size: 7px;
    }

    .btn {
        margin-top: 17px;
        width: 100px;
        padding: 2px;
        font-size: 12px;
    }

    .home-box img {
        width: 80px;
    }

    .btn-box {
        width: 500px;
    }

}