.login-box {
    /* border-bottom: 2px solid black; */
    /* margin: auto; */
    /* height: 100vh; */
    /* box-shadow: 2px 2px 10px gray; */
    backdrop-filter: blur(50px);
    width: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: cyan;
    padding: 20px;
    gap: 10px;
}

.login-input-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    /* border: 1px solid red; */
}

.login-input-box input {
    border-radius: 20px;
    outline: none;
    width: 100%;
    padding: 5px;
    background: transparent;
    border: 2px solid cyan;

}
.login-input-box  img{
    width: 28px;
     position: absolute;
      right: 9px;
       top: 2px;
}

input::placeholder {
    color: black;



}

.login-btn {
    background: transparent;
    color: black;
    width: 150px;
    padding: 6px;
    border-bottom: 1px solid cyan;
    /* margin-top: 20px; */
}

.login-btn:focus {
    background-color: cyan;


}

.login-input-box p {
    margin-top: -10px;
    border-bottom: 1px solid cyan;
    width: 120px;
}

.login-input-box p:hover {
    cursor: pointer;
}

@media (max-width:1024px) {
    .login-box {
        width: 450px;
        padding: 12px;
        gap: 3px;
    }

    .login-input-box {
        gap: 15px;
        width: 300px;
    }

    .login-input-box  img {
        width: 28px;
        right: 5px;
        top: 5px;

    }
    .login-input-box p {
        
    margin-top: -9px;
    width: 110px;
    font-size: 15px;
}
.login-input-box input {
    padding: 3px;
    font-size: 15px;

}

    

}

@media (max-width:768px) {
    .login-box{
        width: 400px;
        padding: 10px;
        gap: 2px;
    }
    

    .login-input-box {
        gap: 10px;
        width: 250px;
    }

    .login-input-box  img  {
        width: 25px;
        right: 5px;
        top: 3px;

    }
    .login-input-box p {
        
    margin-top: -7px;
    width: 105px;
    font-size: 13px;
}
.login-input-box input {
    font-size: 14px;

}

}

@media (max-width:600px) {
.login-box {
        width: 350px;
        padding: 8px;
        gap: 2px;
    }

    .login-input-box  {
        gap: 10px;
        width: 250px;
    }

    .login-input-box  img {
        width: 22px;
        right: 5px;
        top: 5px;

    }

}

@media (max-width:480px) {


    .login-input-box  img  {
        width: 20px;
        right: 5px;
        top: 5px;

    }
    .login-btn{
        color: aqua;
    }

}